


.especialidades {
    padding: 0 0 100px;
    display: flex;
    justify-content: flex-end;

    @media @breakpointTablet {
        padding: 60px 0;
        margin: 0;
        flex-direction: column
    }

    @media @breakpointMobile {
        text-align: center;
        padding: 50px 0;
        box-shadow: none;
        flex-direction: column;
    }
    
    .habilidades{
        h2 {
            text-align: end;
            border-bottom: 2px solid #colors[textColor];
        }
        ul {
            width: 480px;
            margin-right: 10px;
            display: grid;
            grid-template-columns: repeat(5, 15.2%);
            row-gap: 12px;
            gap: 6%;
            text-align: center;
                
    
                
                @media @breakpointTablet {
                    justify-content: center;
                    grid-template-columns: repeat(3, 24%);
                    justify-content: flex-end;
                    margin-right: 0;
                    height: 580px;
                    width: 380px;
                }

                @media @breakpointMobile {
                    justify-content: center;
                    grid-template-columns: repeat(2, 28%);
                }

                li {
                    .border {
                        font-weight: lighter;
                        color: #colors[backgroundColor];
                        width: 100%;
                        text-align: center;
                        transition: all ease .4s;
    
                        &:hover {
                            box-shadow:  inset 0 -40px rgba(254, 255, 255, 0.693);
                            border-bottom: none;
                            border-radius: 6px;
                            color: #eb0253;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }

                }
            }
            .skill {
                transition: all ease .4s;
                filter: brightness(60%);

    
                    &:hover {
                        transform: scale(0.9);
                        filter: brightness(120%);
                    }
    
                @media @breakpointMobile {
                    max-width: 126px;
                }

                @media @breakpointTablet {
                    max-width: 226px;
                }
            }
        }
    
}

#skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 160px;
    @media @breakpointTablet {
        padding: 0 10px 0 16px;
        
    }

    .notbook {
        transform: scaleX(-1);
        width: 240px;
        height: 420px;
        filter: brightness(120%);
        filter: invert(1);
    }

    .conhecimentos {
        //width: 400px;
    }
}

.introducao {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    text-align: end;
    color: #colors[textColor];

    @media @breakpointTablet {
        width: 380px;
    }

    
    h3 {
        font-size: 16px;
        padding-bottom: 6px;
        font-weight: bold;
        border-bottom: 2px solid #colors[textColor];


        @media @breakpointMobile {
            padding-bottom: 4px;
        }
    }

    p {
        padding-top: 16px;
        font-size: 14px;
        font-weight: bold;
        width: 100%;

        @media @breakpointMobile {
            text-align: start;
            width: 94%;
            margin: 0 auto;
            font-size: 14px;
        }
    }

    

    h2 {
        padding-bottom: 40px;
        font-size: 36px;

        @media @breakpointMobile {
            padding-bottom: 16px;
        }
    }


}
