
.cabecalho {
    height: 84vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: rgba(0,0,0,0.8);

    @media @breakpointTablet {
        height: 42vh;
    }

    @media @breakpointMobile {
        height: 74vh;
    }

    .buttons {
        button {
            margin: 4px;
            padding: 14px 18px;
            font-size: 16px;
            @media @breakpointMobile {
                display: block;
                text-align: center;
                margin: 12px auto;
                padding: 10px 14px;
            }
            }
    }

    h1 {
        //font-style: italic;
        font-family: 'Acme', sans-serif;
        font-size: 72px;   

        @media @breakpointMobile {
            font-size: 42px;
        }
    }

    h2 {
        //font-style: italic;
        font-size: 32px;
        font-family: 'Rowdies', cursive;
        margin: 12px auto;
        max-width: 800px;
        
        @media @breakpointMobile {
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
            //max-width: 240px;
            //width: 100%;
        }
    }
}

.font {
    font-family: 'Acme', sans-serif;
}
