//título e subtítulo
.cabecalho {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: rgba(0,0,0,0.8);

    @media @breakpointTablet {
    }

    @media @breakpointMobile {
        height: 100%;
        padding-top: 280px;
        }

    
    .perfil2 {
        display: none;
        max-width: 200px;
        border-radius: 50%;
        position: fixed;
        top: 14%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 96%;
        margin: 20% auto 0;
        box-shadow: 2px 2px 16px 0px rgba(1, 216, 254, 0.397);

        @media @breakpointTablet {    
            opacity: 100%;
            top: 24%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 320px;
        }

        @media @breakpointMobile {    
            opacity: 100%;
            top: 24%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 300px;
        }
    }

    .flex { //classe nova para teste
        display:flex;
        justify-content: space-around;
        align-items: center;
        
        padding: 20px 0;
        box-shadow: #colors[shadowHabilidades]; 
        margin: 250px 0 0;

        @media @breakpointTablet {
            padding: 100px 0;
        }

        @media @breakpointMobile {
            padding: 0 0;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 20%,rgba(0,0,0,0.8) 30%, rgba(0, 0, 0, 0.97) 66%,  rgba(0, 0, 0, 0.97) 80%);
        }

        img {
            @media @breakpointMobile {
                width: 100%;
            }
        }

        div {
            
            @media @breakpointMobile {
                width: 88%;
                padding-bottom: 20px;
            }
        }

        @media @breakpointMobile {
            flex-direction: column;
            padding:  0 0;
        }

        p {
            width: 700px;
            color: rgba(187, 255, 255, 0.763);
            font-size: 18px;

            @media @breakpointTablet {
                max-width: 400px;
                width: 100%;
                font-size: 16px;
            }
            
            @media @breakpointMobile {
                width: 100%;
            }
        }

        .sobre-imagem {

            div {
            @media @breakpointTablet {
                display: block;
            }
            

                @media @breakpointMobile {
                    width: 100%;
                    justify-content: center;
                }
            }
        }

        .profile {
            @media @breakpointTablet {
                max-width: 300px;
            }
        }

    }

    h1 {
        //font-style: italic;
        font-size: 42px;   
        color:  rgba(180, 255, 255, 0.904);
        
        text-shadow: 2px 2px 4px rgba(1, 119, 130, 0.415);

        @media @breakpointMobile {
            font-size: 32px;
        }
    }

    .subtitle {
        //font-style: italic;
        font-size: 22px;
        margin: 0 auto 0 0;
        color: rgba(180, 255, 255, 0.904);
        
        text-shadow: 2px 2px 4px rgba(1, 130, 130, 0.568);
        
        @media @breakpointMobile {
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
            //max-width: 240px;
            //width: 100%;
        }

    }

    h2 {
        color:  rgba(180, 255, 255, 0.904);
        font-size: 22px;
        margin: 0 auto 0 0;
    }
    
}

