

.container {   
    background-color: #colors[backgroundColor];
}

.container {
    .sobre-imagem {
        display: flex;
        justify-content: center;
/*
        position: absolute;
        top: 52%; 
        left: 0;
        width: 100%;*/
        
        @media @breakpointTablet {
            top: 30%;
        }

        @media @breakpointMobile {
            top: 45%;
        }

        img {
            max-width: 148px;
            border-radius: 50%;
            box-shadow: 2px 8px 12px 2px rgb(75, 74, 73);

            @media @breakpointMobile {
                max-width: 100px;
            }
        }
    }

    .container-flex {
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media @breakpointMobile {
            margin-bottom: 80px;
            max-width: 80%;
            //background-color: ;
        }

        @media @breakpointTablet {
            max-width: 80%;
            //background-color: ;
        } 
        margin-bottom: 180px;

        //objetivo 
        .objetivo {
            max-width: 580px;
            text-align: center;

            @media @breakpointTablet {
                margin: 0 auto;
            }
            h2 {
                font-weight: lighter;
                font-size: 20px;
                text-align: center;
                margin: 2px 0 14px;
                border-bottom: 2px solid #colors[buttonColor];
                display: flex;
                justify-content: center;
                align-items: center;
            img {
                max-width: 24px;
            }
        }
    }
}


//botão para subir
    button {
        position: absolute;
        right: 12%;
        padding: 6px 8px;
        border-radius: 50px;
        color: #colors[textColor];
        background: linear-gradient(to bottom, #014869e1, #a0b9d0ee);
        border: none;

        @media @breakpointTablet {
            right: 2%;
        }

        &:hover {
            background-color: #colors[btnHoverGit];
            border: none;
        }

        img {
            filter: invert(100%); 
        }
    }
}
