header {
    background-color:  rgba(0, 0, 0, 0.982);
}

div.flex {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.6) 26%, rgba(0,0,0,0.8) 30%, rgba(0, 0, 0, 0.97) 66%,  rgba(0, 0, 0, 0.97) 80%);  
    
    @media @breakpointMobile {
        background-color: rgba(0,0,0,0.9);
    }  
}

#sobre {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.94),  rgba(1, 60, 78, 0.63));

    @media @breakpointTablet {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.99),   rgba(0, 38, 49, 0.98));
    }

    @media @breakpointMobile {
        border-top: 1px solid rgba(3, 200, 255, 0.397);
        background-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%,  rgba(0, 29, 37, 0.979));
    }
}

#skills {
    background-image: linear-gradient(to top, rgba(0,0,0,0.94),  rgba(1, 60, 78, 0.63));

    @media @breakpointTablet {
        background-image: linear-gradient(to top, rgba(0,0,0,0.94), rgba(0, 38, 49, 0.98));
    }


    @media @breakpointMobile {
        border-top: 1px solid rgba(3, 200, 255, 0.726);
        background-image: linear-gradient(to top, rgba(0,0,0,0.94) 70%, rgba(0, 29, 37, 0.979));
    }
}

#projetos {
    //background-image: linear-gradient(to bottom, rgba(0,0,0,0.94),  rgba(0, 0, 0, 0.982));
}

.ftr {
    border-top: 1px solid rgba(3, 200, 255, 0.397);
    background-color:  rgba(0, 0, 0, 0.982);
}




/*____________________________________________________________________-*/


header.light {
    background-color: rgba(248, 201, 148, 0.97);
}

.flex.light {
    background-image: linear-gradient(to right, rgb(255, 255, 255) 26%, rgba(255,255,255,1) 30%, rgba(235, 213, 140, 0.97) 66%, rgba(248, 201, 148, 0.97) 80%);
    @media @breakpointMobile {
        background-image: linear-gradient(to bottom, rgb(255, 255, 255) 26%, rgba(255,255,255,1) 30%, rgba(235, 213, 140, 0.97) 66%, rgba(248, 201, 148, 0.97) 80%);
    }
}

#sobre.light {
    background-image: linear-gradient(to bottom,rgba(255, 220, 179, 0.952) , rgba(255,255,255,0.7));
    @media @breakpointMobile {
        background-image: linear-gradient(to top, rgba(255,255,255,0.7)30%, rgba(235, 213, 140, 0.97) 66%, rgba(248, 201, 148, 0.97) 80%);
    }
    
}

#skills.light {
    background-image: linear-gradient(to top,rgba(248, 201, 148, 0.97) , rgba(255,255,255,0.7));
    
}

#projetoslight {
    background-image: linear-gradient(to top, rgba(255, 243, 227, 0.98), rgba(248, 201, 148, 0.97) );
}

.ftr.light {
    border-top: 1px solid rgba(3, 200, 255, 0.397);
    background-color: rgba(255, 243, 227, 0.98); 
}

.light {
    color: #000;
}

