header {
    background-color:  rgba(0, 0, 0, 0.982);
}

.flex {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.6) 26%, rgba(0,0,0,0.8) 30%, rgba(0, 0, 0, 0.97) 66%,  rgba(0, 0, 0, 0.97) 80%);    
}

#sobre {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.94),  rgba(1, 60, 78, 0.63));

    @media @breakpointTablet {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.99),   rgba(0, 38, 49, 0.98));
    }

    @media @breakpointMobile {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.97),  rgba(0, 38, 49, 0.87));
    }
}

#skills {
    background-image: linear-gradient(to top, rgba(0,0,0,0.94),  rgba(1, 60, 78, 0.63));

    @media @breakpointTablet {
        background-image: linear-gradient(to top, rgba(0,0,0,0.94), rgba(0, 38, 49, 0.98));
    }


    @media @breakpointMobile {
        background-image: linear-gradient(to top, rgba(0,0,0,0.94), rgba(0, 38, 49, 0.87));
    }
}

#projetos {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.94),  rgba(0, 0, 0, 0.982));
}

.ftr {
    background-color:  rgba(0, 0, 0, 0.982);
}