.educacao {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0 0;
    margin-top: 100px;
}

    .educacao h3 {
        color: #EFF1EA;
        font-size: 14px;
        text-align: center;
        margin: 16px auto 30px;
        font-weight: lighter;
        background-image: linear-gradient(to right, #e82406 , rgb(24, 24, 24));
        width: 30%;
        padding: 8px 0;
    }

.educacao__card {    
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
}

.educacao__card--color {
    width: 49%;
    background-color:  rgb(24, 24, 24);   
    box-shadow: inset 0px 0px 6px 2px #020202;
    border-radius: 4px;

}

.educacao__card--cont {
        background-color: rgb(24, 24, 24);
        box-shadow: 0px 0px 8px 2px #020202;
        width: 90.4%;
        height: 200px;
        border-radius: 42px 42px 6px 6px;
        position: relative;
        margin: 11.8px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.educacao__card h4 {
    text-align: center;
    color: #EFF1EA;
}

.cursos {
    list-style: none;
    color: #EFF1EA;
    width: 88%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 25px;
}

.cursos li {
    height: 20px;
}

.cursos svg {
    color: #EFF1EA;
}

li:nth-child(5) svg {
    color: #e82406;
}

li:nth-child(6) svg {
    color: #e82406;
}

.text-objetivo {
    font-size: 12px;
}

p.text-objetivo {
    width: 336px;
    padding-top: 25px;
    line-height: 16.4px;
    color: #EFF1EA;
}

/* media screen  ----------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .educacao {
        border: none;
    }


    .educacao__card--color {
        width: 48.9%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .educacao__card--cont {
        height: 250px;
    }

    
    .cursos {
        padding-top: 0;
        width: 87%;
        margin: 0 auto;
    }

    .cursos li {
        padding: 0 0 26px;
        height: 30px;
        font-size: 10px;
    }

    p.text-objetivo {
        width: 80%;
        font-size: 10px;
        margin: 0 auto;
        padding-top: 0;
    }

    .educacao__card h4 {
        width: 56px;
        height: 56px;
    }
}

@media screen and (max-width: 767px) {    
    .educacao {
        border: none;
    }

    .educacao__card {
        flex-direction: column;
        
    }

    .educacao__card--color {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .educacao__card--cont {
        height: 250px;
    }

    .cursos {
        padding-top: 0;
        width: 87%;
        margin: 0 auto;
    }

    .cursos li {
        padding: 0 0 26px;
        font-size: 10px;
    }

    p.text-objetivo {
        width: 80%;
        font-size: 11px;
        margin: 0 auto;
        padding-top: 0;
    }

    
    .educacao h3 {
        color: #EFF1EA;
        text-align: center;
        padding-bottom: 0px;
    }

    .educacao__card h4 {
        width: 56px;
        height: 56px;
        font-size: 11px;
    }
}



















