
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    background-color: rgb(24, 24, 24);
    height: 250px;
    margin-bottom: 32px;
    box-shadow: inset 0px 0px 12px 8px rgb(3, 3, 3);
}


footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 8px auto;
}

footer svg {
    height: 24px;
    width: 24px;
    color:  rgb(155, 155, 155);
    transition: transform ease 0.5s;
}

footer svg:hover {
    transform: scale(1.4);
}

footer p {
    color:  rgb(155, 155, 155);
    margin: 40px 0 10px;
}

footer .actual-text {
    color: rgb(24, 24, 24);
    box-shadow: 0 0 8px #a0a0a0;
    border-radius: 30px;
    padding: 2px 6px 4px;
} 

footer .actual-text:hover {
    box-shadow: none;
    cursor: pointer;
}

footer > ul:nth-child(1) {
    background-color: #EFF1EA;
    padding: 8px;
    height: 40px;
    align-items: center;
    border-radius: 30px;
    box-shadow: inset 0 0 6px 2px #a0a0a0;
}

.number-tell {
    color: #a0a0a0;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}

.number-tell svg {
    width: 18px;
    margin-right: 4px;
}


@media screen and (max-width: 767px) {

    footer ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 88%;
        margin: 8px auto;
    }
}

.borderInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #EFF1EA;
    color: #EFF1EA;
}

.borderInput:focus {
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 4px; /* Largura da scrollbar (WebKit) */
}

textarea::-webkit-scrollbar-thumb {
    background-color: #DA3015; /* Cor da thumb (WebKit) */
    border-radius: 4px; /* Borda arredondada da thumb (WebKit) */
}

textarea::-webkit-scrollbar-track {
    background-color: rgb(24, 24, 24); /* Cor do track (WebKit) */
}