
.main-form {
    display: flex;
}

footer {
    background-color: rgb(57, 169, 244);
    border-radius: 150px 0 0 0;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 350px;
}

.info-footer {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.contact {    
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.contact svg {
    color: rgb(57, 169, 244);
    width: 26px;
    height: 26px;
}

.number-tell {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}

.number-tell svg {
    width: 18px;
    margin-right: 4px;
}

.form-width {
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: end;
    align-items: center;
}


form {
    margin-right: 40px;
    width: 50%;
}

.borderInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #0d0d0d;
    color: #0d0d0d;
}

.borderInput:focus {
    outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {             
    form {
        margin-right: 40px;
        width: 82%;
    }
    
    .info-footer {
        width: 82%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 767px) {
    .form-width {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        margin: 0;
        width: 90%;
    }
    .main-form {
        flex-direction: column;
    }
    
    .info-footer {
        width: 100%;
    }
    
    footer {
        background-color: rgb(57, 169, 244);
        border-radius: 0;
        width: 100%;
    }
}


















textarea::-webkit-scrollbar {
    width: 4px; /* Largura da scrollbar (WebKit) */
}

textarea::-webkit-scrollbar-thumb {
    background-color: #0d0d0d; /* Cor da thumb (WebKit) */
    border-radius: 4px; /* Borda arredondada da thumb (WebKit) */
}

textarea::-webkit-scrollbar-track {
    background-color: rgb(24, 24, 24); /* Cor do track (WebKit) */
    
}
