.ftr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    box-shadow: 0px 0px 84px 35px #d5bed0;
    background-image: linear-gradient(to top, #90467ce5, #aa769cd5, #c2a0ba, #d5bed0f1);    
    
    
    h4 {    
        font-style: italic;
        font-size: large;
        text-align: center;
    }

    p {
        padding-right: 4px;
        font-weight: bold;
    }

    a {
        margin: 10px 0 0;
        display: flex;
        text-decoration: none;
        color: #colors[textColor];
        align-items: center;
    }

}