.ftr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    background-image: linear-gradient(to bottom, #d2dae2, #f8e1f2f1);    
    
    
    h4 {    
        font-style: italic;
        font-size: large;
        text-align: center;
    }

    p {
        padding-right: 4px;
        font-weight: bold;
    }

    a {
        margin: 10px 0 0;
        display: flex;
        text-decoration: none;
        color: #colors[textColor];
        align-items: center;
    }

}

