

  .main {
    background-image: linear-gradient(to bottom, #222, #ffffff00), url(https://img.freepik.com/fotos-gratis/espaco-de-trabalho-de-home-office_155003-37366.jpg?w=1060&t=st=1690235798~exp=1690236398~hmac=92062522a5f21cec347957e59ec1fcee050514b6084ec738ea7e5d083386a3ea);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    @media @breakpointTablet {
    }
  

  @media @breakpointMobile {   
    background-position: rigth; 
  }
}

