

  .main {
    background-image: url(../images/inicio/fundo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  @media @breakpointMobile {   
    background-position: rigth; 
  }
}


.header-info {
    border-radius: 20px;

}