

  .main {
    background-image: url(https://img.freepik.com/vetores-gratis/onda-digital-abstrata-de-fundo-de-particulas_1409-1276.jpg?w=1380&t=st=1690309651~exp=1690310251~hmac=950223a0844023e33aeb719f99b1cb2b7f5b061aa06de4e6b854c43303d73ee8);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  @media @breakpointMobile {   
    background-position: rigth; 
  }
}


.header-info {
    border-radius: 20px;

}