#skills {
    background-color: #colors[backgroundColor];
}


.especialidades {
    background-image: linear-gradient(to bottom, rgb(79, 142, 205),  hsl(212, 43%, 83%));
    box-shadow: 4px 4px 72px 6px #116798e5;
    padding: 100px 0;

    @media @breakpointTablet {
        padding: 60px 0;
        margin: 0;
    }

    @media @breakpointMobile {
        text-align: center;
        padding: 50px 0;
        box-shadow: 4px 4px 72px 6px #116798e5;
    }
    
    .informacao {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        @media @breakpointMobile {
            flex-direction: column;
        }

        @media @breakpointTablet {
            flex-direction: column
        }
    
        .introducao {
            max-width: 600px;
            color: #colors[corAzul];


            p {
                text-shadow: 2px 2px 4px rgba(130, 1, 89, 0.377);
            }

            .cv {
                @media @breakpointMobile {
                    margin-left: 10px;
                }
                li {
                    box-shadow: 0px 6px 10px rgba(173, 3, 120, 0.337);
                    background-color: #colors[corProject];
                    border-radius: 6px;
                    width: 44px;

                    a{
                    padding: 6px 4px;
                    text-decoration: none;
                    color: #colors[buttonColorGit];
                    font-size: 14px;
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 16px;
                        padding-left: 2px;
                    }
                    @media @breakpointMobile {
                        margin: 18px 0;
                        width: 30px;
                    }
                }
            }
            }

            h2 {
                padding-bottom: 40px;

                @media @breakpointMobile {
                    padding-bottom: 16px;
                }
            }

            h3 {
                font-size: 14px;
                padding-bottom: 10px;
                font-weight: bold;

                @media @breakpointMobile {
                    padding-bottom: 18px;
                }
            }

            p {
                font-size: 16px;
                @media @breakpointMobile {
                    font-size: 14px;
                }
            }            

            &-sobre {
                color: #colors[backgroundColor];
            }
        }
    
        .habilidades{
            max-width: 700px;
            width: 100%;
            ul {
                display: grid;
                grid-template-columns: repeat(5, 16.7%);
                grid-column-gap: 28px; 
                grid-row-gap: 18px; 
                text-align: center;
                
    
                
                @media @breakpointTablet {
                    padding-top: 30px;
                    justify-content: center;
                    grid-template-columns: repeat(4, 18%);
                }

                @media @breakpointMobile {
                    justify-content: center;
                    grid-template-columns: repeat(2, 28%);
                }

                li {

                    .border {
                        font-weight: lighter;
                        color: #colors[backgroundColor];
                        border-bottom: 1px solid #colors[corProject];
                        width: 80px;
                        margin: 0 auto;
                        transition: all ease .4s;
    
                        &:hover {
                            box-shadow:  inset 0 -40px rgba(254, 255, 255, 0.693);
                            border-bottom: none;
                            border-radius: 6px;
                            color: #colors[textColor];
                        }
                    }

                    .processando {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 1px solid #colors[corProject];
                        width: 60px;
                        margin: 0 auto;
                        transition: all ease .4s;
    
                        &:hover {
                            box-shadow:  inset 0 -40px rgba(254, 255, 255, 0.693);
                            border-bottom: none;
                            border-radius: 6px;
                            color: #colors[textColor];
                        }

                        p {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: lighter;
                            color: #colors[backgroundColor];

                            &:hover {
                                color: #colors[textColor];
                            }
                        }

                        img {
                            max-width: 16px;
                            padding-right: 2px;
                        }

                        
                    li:hover {
                        transform: scale(1.1, 1.1);
                    }
                    
                    ul:hover > .li:not(:hover) {
                        filter: blur(10px);
                        transform: scale(0.9, 0.9);
                    }
                    }
                }
            }
            .skill {
                box-shadow: 0px 6px 12px 6px rgba(141, 13, 77, 0.182);
                border-radius: 10%;
                transition: all ease .4s;
    
                    &:hover {
                        transform: scale(0.9);
                    }
    
                @media @breakpointMobile {
                    max-width: 126px;
                }

                @media @breakpointTablet {
                    max-width: 226px;
                }
            }
        }
    }
}
