
header {
    display: flex;
    justify-content: center;
    align-items: center;
    @media @breakpointMobile {
        justify-content: space-between;
    }

    h2 {
        display: none;
        @media @breakpointMobile {
            display: block;
        }
    }

    nav {
        @media @breakpointMobile {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%);
            border-radius: 4px;
            background-image: linear-gradient(to right, aqua, rgb(255, 0, 217));
            transition: display 0.5s ease; 
            margin-top: 40px;
            padding: 4px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-height: 280px;
            margin: 0 auto;
            
            @media @breakpointMobile {
                background-color:  rgba(0, 0, 0, 0.982);
                flex-direction: column;
                width: 98%;
                height: 60%;
                padding: 24px 80px 8px;
                align-items: normal;
                border-radius: 10%;
            }
            li {
                font-family: 'Abel', sans-serif;
                text-transform: capitalize;
                font-size: 17.6px;
                color: #colors[textColor];

                @media @breakpointMobile {
                font-size: 22px;
                font-weight: bold;
                font-family: 'Abel', sans-serif;
                text-transform: capitalize;


                background-clip: text; // Aplica o gradiente apenas no texto 
                -webkit-background-clip: text; // Necessário para suporte no Safari 
                color: transparent; 
                background-image: linear-gradient(to right, aqua, rgb(255, 0, 217));
            
            }
        }
            .top {
                @media @breakpointMobile {
                    // padding: 55px 0 0;
                }
            }

            .bottom {
                @media @breakpointMobile {
                    //padding: 0 0 55px;
                }
            }
        }    
    }
    .hamburguer {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        display: none;

        @media @breakpointMobile {
            display: block;
            position: absolute;
            top: 26%;
            right: 2%;
        }

        .line {
            display: block;
            width: 20px;
            height: 3px;
            background-color: #colors[textColor];
            margin-block: 5px;
            position: relative;
            border-radius: 4px;
            transition: transform .5s;
            opacity: .25s;
        }

        &.active .line:nth-child(1) {
            transform: translateY(8px) rotate(-45deg);
        }

        &.active .line:nth-child(2) {
            opacity: 0;
        }

        &.active .line:nth-child(3) {
            transform: translateY(-8px) rotate(45deg);
        }
    }
}

