header {
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 100%;       
    box-shadow: #colors[shadowHabilidades];
    background-color: #111;
    

        .sub-header {
            width: 1260px;
            display: flex;
            justify-content: space-between;    
            align-items: center;
            margin: 0 auto;
            .sub-img {
                display: flex;
                align-items: center;
                padding: 6px;
                margin: 0 2px;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .phone {
            transform: scaleX(-1);  
            margin-left: 10px;            
        }
    

    .capa {
        display: flex;
        flex-direction: column;
    }

    .perfil {
        max-width: 38px;
        border-radius: 50%;
        
        margin: 12px 26px ;
        cursor: pointer;
    }

    nav {
        ul {
            max-width: 560px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            height: 30px;

            li {
                cursor: pointer;
                padding: 6px 8px;
                color: #colors[textColorPrj];
                font-family: 'Righteous', cursiva;
                font-size: 17.6px;
                color: #colors[textColor];
                //transition: all ease .5s;

                &:hover {
                    border-bottom: 2px solid #colors[textColorPrj];
                }
            }

            .toggle {
                &:hover {
                    border-bottom: none;
                }
            }
        }
    }
}

.menu {
    display: block;
}