header {
    padding: 10px 0;
    background-image: linear-gradient(to bottom, rgb(95, 155, 215),  hsl(211, 53%, 74%));
    position: fixed;
    z-index: 1;
    width: 100%;        
    
    .jota {
        text-align: center;
        margin: 0 auto;
    }

    .perfil {
        max-width: 38px;
        border-radius: 50%;
        opacity: 80%;
        box-shadow: 2px 2px 16px 0px rgba(8, 191, 223, 0.397);
        position: absolute;
        top: 6px;
        left: 8px;
        cursor: pointer;
    }

    nav {
        ul {
            max-width: 560px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            height: 30px;

            li {
                cursor: pointer;
                padding: 6px 8px;
                font-family: 'Zilla Slab', serif;
                color: #colors[buttonColor];
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                //transition: all ease .5s;

                &:hover {
                    border-bottom: 2px solid #colors[corMenu];
                }
            }
        }
    }
}

.menu {
    display: block;
}