

main {
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.1);

      @media @breakpointTablet {
        height: 44vh;
    }

    }
  
  main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../src/images/inicio/not.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px); 
    z-index: -1;
  }

main {
  @media @breakpointMobile {
    background-image: url(../../src/images/inicio/céu.jpg);
  }
}
