@import 'cabecalho.less';
@import "mapas.less";
@import "container.less";
@import "project.less";
@import "inicio.less";
@import "habilidades.less";
@import "header.less";
@import "contatos.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

.marginBottom8 {
    margin-bottom: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    color: #colors[textColor];
}

li {
    list-style: none;
}


#sobre {
    padding: 150px 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media @breakpointTablet {
        display: block;
        padding: 100px 0 0;
    }

    @media @breakpointMobile {
        display: block;
        padding-bottom: 40px;
    }

    .profile-bio {
        text-align: center;
        max-width: 540px;
        @media @breakpointTablet {
            margin: 0 auto;
        }

        h2 {
            border-bottom: 2px solid #colors[textColor];
            font-size: 20px;
            font-weight: lighter;
        }
        
        .profile {
            display: block;
            max-width: 98px;
            opacity: 70%;
            margin: 0 auto 24px;
        }

        &-description {
            max-width: 560px;
            margin: 0 auto;
            font-size: 16px;
            opacity: .9;
            line-height: 2.1em;
            font-weight:bold;
            padding-top: 6px;
            font-size: 14px;
            
        }
    }

    .cursos {
        max-width: 570px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;

        @media @breakpointTablet {
            max-width: 656px;
            text-align: center;
        }

        @media @breakpointMobile {
            flex-direction: column;
            position: relative;
            margin-top: 22px;
        }

        h2 {
            font-weight: lighter;
            font-size: 20px;
            margin-bottom: 14px;
            text-align: center;
            border-bottom: 2px solid #colors[textColor];
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 24px;
            }
        }

        ul {
            line-height: 2;
            
            li {
                font-size: 14px;
                font-weight: lighter;

                img {
                    max-width: 14px;
                    margin-right: 6px;
                }
            }
        }

        p {
            font-size: 14px;
            font-weight: lighter;
            text-align: center;
            line-height: 2;
            
        }
    }
}

button {
    cursor: pointer;
    
    &:hover {
        border: 2px solid #colors[btnHover];
        transition: all ease .2s;
    }
}

h2 {
    font-family: 'Rowdies', cursive;
}

/*_______________________________________________________*/

