#colors() {
    backgroundColor: #ebf3fb;
    btnHover: #035155;
    buttonColor: #056e74;
    corMenu: #048b92c2;
    btnHoverGit: #85027e;
    buttonColorGit: #65024e;
    textColor: #7E9A9D;//text
    textColorPrj:  #f1f4fe;
    corAzul: linear-gradient(90deg, transparent, rgb(0, 165, 194), rgb(0, 165, 194), rgb(0, 165, 194), rgb(0, 165, 194), transparent) ;// gradiente
    corProject: #7E9A9D;
    corReversoSk: linear-gradient(to top, #03c3ce, #25c7d1, #37cad4, #44ced7, #50d2da, #62d5de, #72d9e2, #80dce5, #96e0e9, #abe3ec, #bee7ee, #d0eaf0);//button    //skills
    gradientTitle: linear-gradient(150deg,rgb(240, 219, 151) 30%, rgb(185, 157, 73) , rgb(240, 219, 151) 60%);
    shadowHabilidades: 0px 0px 8px 0px rgb(0, 176, 189);////box-shadow: [deslocamento horizontal] [deslocamento vertical] [desfoque] [espalhamento] [cor];
}

.violet {
    color: #e07109;
    font-weight: bold;
} //color 
