#colors() {
    backgroundColor: #d2dae2;
    btnHover: #035155;
    buttonColor: #056e74;
    corMenu: #048b92c2;
    btnHoverGit: #85027e;
    buttonColorGit: #65024e;
    textColor: rgb(2, 52, 57);//text
    textColorPrj:  #f5f6fa;
    corAzul: linear-gradient(90deg, transparent, rgb(0, 165, 194), rgb(0, 165, 194), rgb(0, 165, 194), rgb(0, 165, 194), transparent) ;// gradiente
    corAzulMenu: linear-gradient(to top, #034745, #044e4c, #055553, #075c5a, #086361, #066b6b, #037275, #007a7f, #008490, #008da1, #0097b2, #07a0c4);
    corProject: #a1c6d3;
    corGradiente: linear-gradient(45deg,rgb(240, 219, 151) 30%, rgb(185, 157, 73) , rgb(240, 219, 151) 60%);//button
    corReverso: linear-gradient(45deg, rgb(154, 135, 79)40%, rgb(240, 219, 151), rgb(213, 182, 109)60%);//button
    corReversoSk: linear-gradient(45deg,rgb(240, 219, 151) 30%, rgb(185, 157, 73) , rgb(240, 219, 151) 60%);//button    //skills
    gradientTitle: linear-gradient(150deg,rgb(240, 219, 151) 30%, rgb(185, 157, 73) , rgb(240, 219, 151) 60%);
    shadowHabilidades: 4px 0px 28px 8px rgba(0, 165, 194, 0.445);////box-shadow: [deslocamento horizontal] [deslocamento vertical] [desfoque] [espalhamento] [cor];
}