#colors() {
    backgroundColor: #36374b;
    btnHover: rgb(240, 219, 151);
    buttonColor: rgb(115, 95, 26);
    btnHoverGit: #85027e;
    buttonColorGit: #65024e;
    textColor: rgb(117, 93, 4);//text
    textColorPrj:  #f5f6fa;
    corAzul: rgb(240, 219, 151);// gradiente
    corGradiente: linear-gradient(45deg,rgb(240, 219, 151) 30%, rgb(185, 157, 73) , rgb(240, 219, 151) 60%);//button
    corReverso: linear-gradient(45deg, rgb(154, 135, 79)40%, rgb(240, 219, 151), rgb(213, 182, 109)60%);//button
    corReversoSk: linear-gradient(45deg,rgb(240, 219, 151) 30%, rgb(185, 157, 73) , rgb(240, 219, 151) 60%);//button    //skills
    gradientTitle: linear-gradient(150deg,rgb(240, 219, 151) 30%, rgb(185, 157, 73) , rgb(240, 219, 151) 60%);
    shadowHabilidades: 6px 0px 28px 8px rgba(255, 162, 0, 0.134);////box-shadow: [deslocamento horizontal] [deslocamento vertical] [desfoque] [espalhamento] [cor];
}